@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  }
}

.subtle-glow-animation {
  animation: subtle-glow 4s infinite ease-in-out;
}

/* Fix for framer-motion reorder icon cursor */
[data-rbd-drag-handle-context-id] {
    cursor: grab;
}

[data-rbd-drag-handle-context-id]:active {
    cursor: grabbing;
}